<!DOCTYPE html>
<html lang="en">
<title>Bicycle</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment-with-locales.min.js"></script>
<body role="document">
    <div style="padding-top:30px;" class=page>
        <div class="container" role="main">
            {% if title  %}
            <div class="page-header"><h1>{{ title }}</h1></div>
            {% endif %}

            <ul class="nav nav-pills">{% for service in services %}{% if selected_service.id == service.id %}
                <li class="active">
                    <a href="/services/{{ service.id }}">{{ service.name }} <small style="color: #bbdcf8;">{{ service.regions[0].city }}</small></a>
                </li>{% else %}
                <li>
                    <a href="/services/{{ service.id }}">{{ service.name }} <small style="color: #bbdcf8;">{{ service.regions[0].city }}</small></a>
                </li>{% endif %}{% endfor %}
            </ul>
            <div class="page-header">
              <h1><a href="{{ selected_service.url }}"><span class="glyphicon glyphicon-link"></span></a> {{ selected_service.name }} <small>{{ selected_service.city }}</small></h1>
            </div>

            {% block body %}{% endblock %}
        </div>
    </div>
</body>
</html>