{% extends "layout.html" %}
{% block body %}
<div class="chart" width="100%" style="text-align: center;"></div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="application/javascript">
var station = {{ dumps(station.to_dict(), separators=(',', ':')) | safe }};
var statistics = [{% for station_info in station_infos %}{{ dumps(station_info.to_dict(), separators=(',',':')) | safe }},{% endfor %}];

var margin = {
    top: 20,
    right: 20,
    bottom: 30,
    left: 60
},
width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var svg = d3.select(".chart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// Our X scale
var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

// Our Y scale
var y = d3.scale.linear()
    .rangeRound([height, 0]);

// Our color bands
var color = d3.scale.ordinal()
    .range(["#308fef", "#5fa9f3", "#1176db"]);

// Use our X scale to set a bottom axis
var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

// Smae for our left axis
var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .tickFormat(d3.format(".2s"));

// Use our values to set our color bands
color.domain(d3.keys(statistics[0]).filter(function (key) {
    return key !== "available_bicycles";
}));

statistics.forEach(function (d) {
    var y0 = 0;
    d.types = color.domain().map(function (name) {
        return {
            name: name,
            y0: y0,
            y1: y0 += +d[name]
        };
    });
    d.total = d.types[d.types.length - 1].y1;
});

// Our X domain is our set of years
x.domain(statistics.map(function (d) {
    return d.hour_of_week;
}));

// Our Y domain is from zero to our highest total
y.domain([0, d3.max(statistics, function (d) {
    return d.available_bicycles;
})]);

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
        .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("Ridership");

    var available_bicycles = svg.selectAll(".available_bicycles")
        .data(statistics)
        .enter().append("g")
        .attr("class", "g")
        .attr("transform", function (d) {
        return "translate(" + x(d.available_bicycles) + ",0)";
    });

    available_bicycles.selectAll("rect")
        .data(function (d) {
        return d.types;
    })
        .enter().append("rect")
        .attr("width", x.rangeBand())
        .attr("y", function (d) {
        return y(d.y1);
    })
        .attr("height", function (d) {
        return y(d.y0) - y(d.y1);
    })
        .style("fill", function (d) {
        return color(d.name);
});

</script>

{% endblock %}