{% extends "layout.html" %}
{% block body %}

<ul class="nav nav-pills">
    {% for service in services %}
    {% if selected_service.id == service.id %}
        <li class="active">
            <a href="/services/{{ service.id }}">{{ service.name }}
                <small style="color: #bbdcf8;">{{ service.city }}</small>
            </a>
        </li>
    {% else %}
        <li>
            <a href="/services/{{ service.id }}">{{ service.name }}
                <small style="color: #bbdcf8;">{{ service.city }}</small>
            </a>
        </li>
    {% endif %}
    {% endfor %}
</ul>

<h1>{{ selected_service.name }} <span style="color:lightgrey;">{{ selected_service.city }}</span> <a href="{{ selected_service.url }}" style="color:lightgray;font-size:50%"><span class="glyphicon glyphicon-link"></span></a></h1>

<p class="bg-info station-information" style="padding: 15px;">Local time: {{ time }}</p>

<table class="table">
    <thead>
      <tr>
        <th>Station</th>
        <th width="30%">Availability</th>
      </tr>
    </thead>
    <tbody>
    {% for station in stations %}
      <tr>
        <td>
        <small style="color:lightgray;">{{ station.station_id }}</small> {{ station.address }}
        {% if station.description != station.address %}
        <small style="color:lightgray;">{{ station.description }}</small>
        {% endif %}
        <td>
            <div class="progress">
            {% if station['capacity'] == 0 %}
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 100%;"><span class="sr-only"></span></div>
            {% else %}
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width: {{ (station.capacity - station.available_docks - station.available_bicycles) / station.capacity * 100 }}%;"><span class="sr-only"></span></div>
                <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ station.available_bicycles / station.capacity * 100 }}%"><span class="sr-only">Available bicycles: {{ station.available_bicycles }}</span></div>
            {% endif %}
            </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>



{% endblock %}