{% extends "layout.html" %}
{% block body %}
<script type="application/javascript">
var stations = [{% for station in stations %}{{ dumps(station.to_dict(), separators=(',',':')) | safe }},{% endfor %}];
var current_index = 0;
var items_per_page = 10;

$(document).ready(function(){
    $(".next").children("a").click(function(){
        current_index++;
        update_table_view();
        return false;
    });
    $('.next').css( 'cursor', 'pointer' );
    $(".previous").children("a").click(function(){
        current_index--;
        update_table_view();
        return false;
    });
    $('.previous').css( 'cursor', 'pointer' );

    update_table_view();
});

function update_table_view() {
    var min_visible_index = current_index * items_per_page;
    var max_visible_index = Math.min((current_index + 1) * items_per_page, stations.length);

    if (current_index == 0) {
        $(".previous").addClass("disabled");
    } else {
        $(".previous").removeClass("disabled");
    }

    if (max_visible_index >= stations.length) {
        $(".next").addClass("disabled");
    } else {
        $(".next").removeClass("disabled");
    }

    $(".stations_table_body").empty()
    for (var i = min_visible_index; i < max_visible_index; ++i) {
        var station = stations[i];

        var station_info = '<small style="color:lightgray;">' + station.id + '</small> ' +
                '<a href="http://maps.google.com/maps?q=' + station.latitude + ',' + station.longitude + '">' + station.address + '</a><br/>';
        if (station.description != station.address) {
            station_info += '<small style="color:lightgray;">' + station.description + ';</small> ';
        }
        station_info += '<small style="color:lightgray;">' + 'Last changed: ' + moment.utc(station.updated_at, 'X').fromNow() + '</small>';

        var bicycles_percentage = Math.round(station.available_bicycles / station.capacity * 100);
        var docks_percentage = Math.round(station.available_docks / station.capacity * 100);
        var unavailable_items = 100 - docks_percentage - bicycles_percentage;
        var availability_string = '<div class="progress" ' +
                    'data-toggle="tooltip" data-placement="left" title="Capacity: ' + station.capacity + '; Avilable docks: ' + station.available_docks + '">'
        if (station.is_active) {
            if (unavailable_items != 0) {
                var unavailable_units = station.capacity - station.available_docks - station.available_bicycles;
                availability_string += '<div class="progress-bar progress-bar-danger" role="progressbar" ' +
                        'data-toggle="tooltip" data-placement="left" title="' + unavailable_units + ' ' +
                        (unavailable_units == 1 ? 'unit' : 'units') + ' unavailable"' +
                        ' style="width: ' + unavailable_items + '%;"></div>';
            }
            availability_string += '<div class="progress-bar progress-bar-success" ' +
                    'data-toggle="tooltip" data-placement="left" title="Available bicycles: ' + station.available_bicycles + '" ' +
                    'role="progressbar" style="width: ' + bicycles_percentage + '%"></div>'
        } else {
            availability_string += '<div class="progress-bar progress-bar-danger" role="progressbar" data-toggle="tooltip" style="width:100%;"></div>';
        }
        availability_string += '</div>';
        $(".stations_table_body").append("<tr><td>" + station_info + "</td><td>" + availability_string + "</td>/tr>")
    }
}
</script>

<ul class="pager">
  <li class="previous"><a>← Previous</a></li>
  <li class="next"><a>Next →</a></li>
</ul>

<table class="table">
<thead>
    <tr><th>Station</th><th width="30%">Availability</th></tr>
</thead>
<tbody class="stations_table_body"></tbody>
</table>

<ul class="pager">
  <li class="previous"><a>← Previous</a></li>
  <li class="next"><a>Next →</a></li>
</ul>

{% endblock %}