{% extends "layout.html" %}
{% block body %}
<script type="application/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.1.2/src/markerclusterer_packed.js"></script>
<script type="application/javascript">
var lastInfoWindow;
var lastUpdatedHeatmap, bicyclesHeatmap, docksHeatmap;
var map;

function initialize() {
    var stations = [{% for station in stations %}{{ dumps(station.to_dict(), separators=(',',':')) | safe }},{% endfor %}];
    var google_maps_region = {{ google_maps_region }};
    console.log(google_maps_region);
    var mapOptions = {
        zoom: google_maps_region[2],
        center: new google.maps.LatLng(google_maps_region[0], google_maps_region[1])
    };
    console.log(mapOptions);
    map = new google.maps.Map(document.getElementById('map'), mapOptions);
    var markerImageURL = '{{ url_for('static', filename='marker@2x.png') }}';
    var markerImage = {
        url: markerImageURL,
        scaledSize: new google.maps.Size(9,24),
    };
    var markers = [];
    var bicyclesHeatmapData = [], docksHeatmapData = [], lastUpdatedHeatmapData = [];
    for (station in stations) { station = stations[station];
        var coordinate = new google.maps.LatLng(station.latitude, station.longitude);
        var bikesWeight = 10 * (station.capacity ? station.available_bicycles / station.capacity : 0);
        bicyclesHeatmapData.push({location: coordinate, weight: bikesWeight});

        var docksWeight = 10 * (station.capacity ? station.available_docks / station.capacity : 0);
        docksHeatmapData.push({location: coordinate, weight: docksWeight});

        var secondsSinceUpdate = moment().utc().diff(moment.utc(station.updated_at * 1000), 'seconds');
        var lastUpdatedWight = 10 / secondsSinceUpdate;
        lastUpdatedHeatmapData.push({location: coordinate, weight: lastUpdatedWight});

        var marker = new google.maps.Marker({
            position: coordinate,
            icon: markerImage,
            title: station.address,
        });
        var markerDescription = "<div class=\"marker-info\"><b>" + station.address + "</b>";
        markerDescription += "<br/>B: " + station.available_bicycles + " D: " + station.available_docks;
        markerDescription += " C " + station.capacity + "";
        markerDescription += "<br/><small>Last changed: " + moment.utc(station.updated_at, 'X').fromNow() + "</small>";
        markerDescription += "</div>";
        attachListenerForMarker(marker, markerDescription);
        markers.push(marker);
    }
    lastUpdatedHeatmap = new google.maps.visualization.HeatmapLayer({
        data: lastUpdatedHeatmapData,
        radius: 50,
    });
    docksHeatmap = new google.maps.visualization.HeatmapLayer({
        data: docksHeatmapData,
        radius: 50,
    });
    bicyclesHeatmap = new google.maps.visualization.HeatmapLayer({
        data: bicyclesHeatmapData,
        radius: 50,
    });

    var markerCluster = new MarkerClusterer(map, markers, {
        styles: [{
            url: '{{ url_for('static', filename='marker-group.png') }}',
            width: 9,
            height: 24,
            anchorIcon: [4.5, 24],
            anchorText: [4, 0],
            textColor: 'gray',
            textSize: 10
        }]
    });
}

function attachListenerForMarker(marker, description) {

    var infoWindow = new google.maps.InfoWindow({
        content: description
    });

    google.maps.event.addListener(marker, 'click', function() {
        if (lastInfoWindow) lastInfoWindow.close();
        infoWindow.open(marker.get('map'), marker);
        lastInfoWindow = infoWindow;
    });
}

function setup() {
    loadScript();
    setupDataSourceToggle();
    setHeatmap(0);
}

function loadScript() {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization&' +
      'callback=initialize';
  document.body.appendChild(script);
}

function setupDataSourceToggle() {
    $('.map-type').children().each(function(idx, child){
        $(child).click(function(){
            console.log("Setting heatmap to " + idx);
            setHeatmap(idx);
            return false;
        });
    });
}

function setHeatmap(index) {
    lastUpdatedHeatmap.setMap(index == 0 ? map : null);
    bicyclesHeatmap.setMap(index == 1 ? map : null);
    docksHeatmap.setMap(index == 2 ? map : null);
    $('.map-type').children().each(function(idx, child){
        if (idx == index) {
            $(child).addClass("active");
        } else {
            $(child).removeClass("active");
        }
    });
}

window.onload = setup;
</script>
<ul class="nav nav-pills map-type" style="margin-bottom: 20px;">
  <li class="active"><a href="#">Dynamics</a></li>
  <li><a href="#">Bicycles</a></li>
  <li><a href="#">Docks</a></li>
</ul>
<div id="map" style="width: 100%; height: 70%;"></div>
{% endblock %}